* {
    font-family: Georgia, Times, "Times New Roman", serif;
}



body {
    /*margin-top: 1vh;
    margin-left: 2vw;
    #margin-right: 2vw 
    font-size: 2em;
    */
    
}

h1 {
    /*
    color: #990099
    font-size: 3em;
    */
}
