* {
    font-family: Georgia, Times, "Times New Roman", serif;
}



body {
    margin-top: 1vh;    
}

h1 {
    font-size: 2em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: top;
}




