.custom-tabs-container {
    width: 100%;
    border:none;
    border-bottom: none !important;
}
.custom-tabs {
    width: 100%;
    border-top-left-radius: 3px;
    background-color: none;
    padding: 0px 0px;
    border-bottom: none !important;
}

.custom-tab {
    width: 100%;
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: none !important;
    background-color: #fafbfc;
    padding: 3px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    background-color: white;
    box-shadow: 1px 1px 0px white;
    border-left: 3px solid #ad97c7 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
}


.tab-container--vert .tab:last-of-type {
    border-bottom: none !important;
}
